Repository nokia-wroclaw/innovativeproject-ml-models-management, pull requests merged in 2019-04, with the labels that each got.

#35 Implement User authentication via JWT, add model uploading
  .env.sample
  backend/Pipfile
  backend/Pipfile.lock
  backend/app/__init__.py
  backend/app/api/__init__.py
  backend/app/api/auth.py
  backend/app/api/models.py
  backend/app/api/users.py
  backend/app/api/utils.py
  backend/app/config.py
  backend/app/models.py
  backend/app/storage/__init__.py
  backend/migrations/env.py
  backend/migrations/versions/116f0f6e8f91_.py
  backend/migrations/versions/75933cf6bdb9_.py
  backend/migrations/versions/ebbfb7d55f62_.py
  backend/migrations/versions/f40ec634d191_.py
  backend/run.py
Labels: api, backend

#36 Add GitProvider module with basic functionality
  client/Pipfile
  client/Pipfile.lock
  client/utils/__init__.py
  client/utils/git.py
Labels: cli

#34 Add projects endpoints (Closes #13)
  .gitattributes
  backend/app/api/projects.py
  backend/app/api/workspaces.py
  backend/development.sh
  docker-compose.yml
Labels: api, backend

#41 Hotfix workspaces endpoint
  backend/Pipfile
  backend/Pipfile.lock
  backend/app/api/auth.py
  backend/app/api/workspaces.py
Labels: api, backend, bug
