Repository nokia-wroclaw/innovativeproject-ml-models-management, pull requests merged in 2019-03, with the labels that each got.

#12 Setup frontend
  frontend/.gitignore
  frontend/README.md
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/serviceWorker.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontend

#27 Implement backend API with /models endpoint
  .env.sample
  .gitignore
  backend/Dockerfile
  backend/Pipfile
  backend/Pipfile.lock
  backend/app/__init__.py
  backend/app/api/__init__.py
  backend/app/api/errors.py
  backend/app/api/models.py
  backend/app/api/projects.py
  backend/app/api/users.py
  backend/app/api/workspaces.py
  backend/app/config.py
  backend/app/models.py
  backend/migrations/README
  backend/migrations/alembic.ini
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/116f0f6e8f91_.py
  backend/production.sh
  backend/run.py
  docker-compose.yml
Labels: api, backend

#28 implement login component
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/pages/account.tsx
  frontend/src/pages/home.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/template.tsx
  frontend/src/utils/connect.ts
  frontend/src/withRoot.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontend

#29 Hotfix: Remove conflicting environment variables
  backend/app/api/__init__.py
Labels: bug

#30 Add dockerfile for frontend (Closes #26)
  docker-compose.yml
  frontend/Dockerfile
Labels: frontend
